* {
  font-family: 'Open Sans', sans-serif;

}

.mainBackground {
  background-color: #f2f2f2;
}

nav header {
  display: block;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem .25rem;
  text-align: center;
  color: #f64e8b;
  font-weight: bold;
  box-shadow: 1px 1px 5px 1px;
}

main section header {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

main p {
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  color: #525252;
  background-color: #e0e0e0;
}
